.mesSection
    background-color: #f1f1f1
    height: 100vh
    overflow: hidden

.sectionAbout
    background-color: #f1f1f1
    height: 70vh
    overflow: hidden

#bgSkill
    background-color: #f1f1f1
    // background: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)), url("../images/text-1539696963719-4012.jpg")fixed !important
    height: 30vh

.color
    background-color: #f1f1f1
