#skill
    background: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)), url("../images/vintage-1539695869744-1353.jpg")fixed !important
    margin-top: 30vh
    margin-left: 6rem
    height: 30vh
    // max-width: 90% !important

.color
    background-color: #f1f1f1

@media (max-width: 1200px)
    #skill
        display: none


.mesProject
    .container
        max-width: 80% !important
