//Section2 AboutMe
.sectionAbout
    margin-top: 15vh
    .container
        max-width: 70% !important


#titreAboutMe
    h1
        margin-bottom: 4rm
        color: #1A5276 !important
        font-size: 30rm !important
    
    p
        color: #ffffff
        font-family: "Open Sans", sans-serif
        width: 100%
        font-size: 147% !important
        display: inline

#imgAbout
    padding-top: 7rem !important


.tailleImg
    padding-top: 2vh
    div
        text-align: center
        img
            height: 13vh !important

.tailleSousImg
    div
        text-align: center
        img
            height: 13vh !important

.skill
    .container
        max-width: 80% !important

@media (min-width: 1200px)
    .container
        width: 100% !important



@media screen and (min-width: 1400px)
    #titreAboutMe
        width: 70vh
@media screen and (max-width: 1400px)
    #titreAboutMe
        left: 0
        width: 2rm !important
